.container {
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.icon {
    color: #158901;
}

.title {
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    max-width: 350px;
}
