.customToastContainer {
    padding: 0px !important;
    background-color: transparent;
}

.customToastContainer div {
    margin: 0px !important;
    padding: 0px !important;
}

.customToastMessageBody {
    min-height: 60px;
    justify-content: space-between;
}

.closeButton {
    margin-right: 6px;
    cursor: pointer;
    color: rgb(170, 173, 173);
}

.closeButton:hover {
    color: rgb(70, 71, 71);
}
