.cardContainerWrapper {
    width: 100%;
    padding: 15px 35px;
    background-color: white;
    border-radius: 15px;
}

.cardContainerTitle {
    height: 100%;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 8px;
}

.switchViewButtonContainer {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
