.userProfilePopupContainer {
    max-width: 280px;
}

.avatarCircle {
    font-size: 22px;
    cursor: pointer;
}

.avatarCircle b {
    color: #158901;
}

.userName {
    margin-left: 10px;
}

.userPopupIcon {
    font-size: 16px;
}

.userPopUpInfoRow {
    margin-left: 5px;
}
